
.divisao-conteudo{
  display: flex;
}

.menu {
  width: 100%;
  height: 80px;
  border-bottom: gray;
  border: 1px solid red;

}
app-menu-lateral {
  border: 1px solid red;
  width: 30%;
}
section {
  border: 1px solid blue;
  width: 70%;
}
