ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.menu-desktop {
  display: flex;
  align-items: center;
}
.logo {
  width: 50%;
}
