<div class="main">
  <div class="menu-desktop">
    <!-- <div class="logo">

    </div> -->
    <div class="logo">
      <h1>Mais Arvore</h1>
    </div>
    <ul>
      <li>
        <a routerLink="/">INICIO</a>
      </li>
      <li>
        <a routerLink="/postar">POSTAR</a>
      </li>
      <li>
        <a routerLink="/blog">BLOG</a>
      </li>
      <li>
        <a routerLink="/faqs">PERGUNTAS</a>
      </li>
      <li>
        <a routerLink="/sobre">SOBRE</a>
      </li>
      <li>
        <button (click)="entrar()">ENTRAR</button>
      </li>
      <li>
        <button (click)="entrar()">CADASTRAR</button>
      </li>
    </ul>
  </div>
</div>
