<div class="d-flex">
    <div class="card">
        <p>Saiba mais:</p>
        <a href="https://www.sosma.org.br">SOS Mata atlantica</a>
    </div>
    <div class="card">
        <p>Saiba mais:</p>
        <a href="https://www.wwf.org.br">WWF</a>
    </div>
    <div class="card">
        <p>Saiba mais:</p>
        <a href="https://www.infraestruturameioambiente.sp.gov.br/">Secrataria Meio Ambiente São Paulo/ SP</a>
    </div>
    <div class="card">
        <p>Saiba mais:</p>
        <a href="">Quer conhecer as árvores adequadas para o plantio sustentável na cidade?</a>
    </div>
</div>