.formulario {
  margin-top: 60px;
}
h1 {
  margin-left: 10px;
}
form {
  display: flex;
  flex-direction: column;

  input {
    height: 25px;
  }
  #nome,
  #sobrenome,
  #nascimento {
    width: 210px;
    margin-left: 10px;
  }
  label {
    margin-left: 10px;
  }
}
.linha {
  display: flex;
}
.item {
  display: flex;
  flex-direction: column;
}
.linha:nth-child(2),
.linha:nth-child(3) {
  .item > input {
    width: 323px;
    margin-left: 10px;
  }
}
.linha:nth-child(4) {
  .item > input {
    width: 663px;
    margin-left: 10px;
  }
}

button {
  width: 99%;
  margin: 20px 0 0 10px;
}
