    <!-- <div class="logo">
    </div> -->
<div class="faixalinks">
  <a class="logo" routerLink="/">
      <img src="/assets/logo.png" alt="Logo" width="150px"></a>
  
  <ul class="links">
      <a routerLink="/">INICIO</a>
      <a routerLink="/postar" >POSTAR</a>
      <a routerLink="/blog">BLOG</a>
      <a routerLink="/faqs">PERGUNTAS</a>
      <a routerLink="/sobre">SOBRE</a>
      
      <button class="buttonEntra" (click)="login()">ENTRAR</button>
      <button class="buttonCadastro" (click)="cadastro()">CADASTRO</button>
      
  </ul> 
</div>    
<nav class="layout">
  <ul class="layoutInterno">
    <h4>Uma iniciativa digital de plantio e preservação ambiental urbana</h4>
    <img src="/assets/arvore.png" alt="arvore" width="40px">
  </ul>    
</nav>

<!--footer-->
<nav class="contenerfooter">
  <footer>
    <h6><span>Mais Árvore</span> &copy; 2022</h6>  
  </footer>
</nav>